*.DS_Store
*.snakemake
.vscode
*.Rproj*
results
processed
.Rhistory
landerlab-bowtie-hg19-index
landerlab-bowtie-hg19-index-misc
landerlab-vcf
renamed_bams
metadata
1KG_PCA
results
data
*.ipynb_checkpoints